PROJECT_NAME="test-forty-second"
PROJECT_SLUG=test-forty-second
GITHUB_REPOSITORY=test-forty-second
LINEAR_PROJECT_KEY=TEST_FORTY_SECOND
NODE_ENV=development
SERVER_PORT=8080
FRONTEND_PORT=3000
API_PORT=8000
